

/******************************Navbar**************************/
#menu{
	background-color:rgba(0, 0, 0, 0.1);
	color: #ffffff;
	background-repeat: no-repeat;
}

.nav-link{
	color: #ffffff;
}

/*couleur passage de la souris du lien page 1*/ 
#pills-profile-tab{
	color: #ffffff;
}



/*image de fond*/
#img-de-fond{
	background-attachment: fixed;
}
body{
background:url('../img/earth2.jpg');
background-size: cover;
color: #ffffff;
}

#lareponse{
	width: 15%;
}

/*contenu*/

.contenu{
	margin: 20px;
	background-color: #ffffff;
	padding: 25px;
	font-size: 24px
}
.contenu1{
	color: #000000;
	text-align: center;
}